.section-page {
    background-color: rgb(125, 207, 125);
    color:white;
    padding: 50px 0; /* Top and bottom padding */
  }
  
  .section-page h1 {
    font-size: 36px; /* Heading font size */
    margin-bottom: 20px; /* Bottom margin */
  }
  
  .section-page p {
    font-size: 18px; /* Paragraph font size */
    margin-bottom: 20px; /* Bottom margin */
  }
  
  .section-page button {
    font-size: 16px; /* Button font size */
  }
  